/*body*/
body {
    position: relative; 
  }
li{
	list-style-type: none;
	margin: 0;
    padding: 0;
  }
 
/*Overwrite nav in bs4*/ 
.navbar{
	background: rgba(51, 51, 51, 0.50);
	padding: 1.3em 1em;
	border-bottom: 6px solid rgb(255, 181, 0); 
	opacity: 90%;
	width: 100%;
}
.navbar h1{
	color: white;
}
nav .navbar-nav li{
	font-size: 25px;
	}
nav .navbar-nav li a{
	color: white !important;
	opacity: none !important;
	}
nav .navbar-nav li a:hover{
	background: rgba(51, 51, 51, 0.90);
	color: rgb(255, 181, 0) !important;
	opacity: none !important;
	}
.navbar-toggler{
	opacity: 100% !important; 
	}
li a{
	font-family: Times New Romon;
	text-decoration: none;
	}

/*Header and Title*/
.header{
	display: flex;
	background-image:url(https://github.com/kurapa/Price-of-onion-from-garden-to-kitchen/blob/master/ASSERTS/title.jpg);
	background-repeat:no-repeat;
	background-size:100%;
	-webkit-background-size:100%;
	-moz-background-size:100%;
	-o-background-size:100%;
	-ms-background-size:100%;
	min-height:600px;
	position: relative;
	}
.title{
	align-self: flex-end; 
	width: 100%;
	background: none;
	padding: 1.3em 1em; 
}
.title h2{
	
	text-align: center;
	font-size: 80px !important;
	font-weight: 1050; 
	color: #000000;
}

/*Contents*/
div .text-justify{
	overflow: auto;
}
.section{
	padding: 50px;
	font-family: Arial;
	font-size: 30px;
	color: #696969;
	font-weight: 650;
	}  
.section h1{
    font-size: 2.5em;
    color: #046d32;
    line-height: 1em;
    font-weight: 700;
    letter-spacing: 0.04em;
    text-transform: capitalize;
	text-align: left;
	}
.section:nth-child(even) {
  background: #f2f2f2;
	}
.solution li:before{
	content : "🌿";
	}

.solution li:after{
	content: "\a\a";
    white-space: pre;
	}
